<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - WhatsApp Clone</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <header>Welcome to small WhatsApp Message Using MongoDB & Express</header>

  <div class="container" style="text-align: center; margin-top: 50px;">
    <h2>Home Page</h2>
    <form method="GET" action="/chats">
      <button class="new-chat-btn">Go to WhatsApp Chats</button>
    </form>
  </div>
</body>
</html>
