/* 1. Rotate --> transform: rotate(45deg); */
section {
  margin-top: 100px;
}
div {
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #7aa874;
  border: 2px solid black;
  margin: 10px auto;
}
div:nth-of-type(2n) {
  background-color: #f7db6a;
}
div:nth-of-type(3n) {
  background-color: #ebb02d;
}
/* Transform - Rotate */
#one {
  transform: rotate(45deg);
}

/* 2. Scale --> transform: scale(0.5 2); => (x,y)
                transform: scaleX(0.5);  => x-axis work
                transform: scaleY(0.5);  => y-axis work    */
#two {
  transform: scale(2, 0.5);
}

/* 3. Translate --> transform: translate(50px, 50px); =>(x-axis,y-axis) 
                    transform: translateX(10px);     => x-axis work
                    transform: translateY(10px);     => y-axis work                          */
#three {
  transform: translate(-200px);
}

/* 4. Skew --> transform: skew(30deg) */
#four{
    transform: skew(30deg);
}

/* used  all transform in one line */
#five {
     transform: rotate(30deg) skew(30deg) translateX(150px);
}