<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is home page</h1>
    <h3><%= 1+2 %></h3>
    <h3><%= "ankan".toUpperCase() %></h3>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
      dolores odio dolorem. Rem eveniet beatae autem quae distinctio tempora
      animi, in eaque voluptates, excepturi nobis dolorem, quis modi explicabo
      dolore.
    </p>
  </body>
</html>
