*{
    text-align: center;
    background-color: pink;
    text-decoration: none;
}

h1{
    font-weight: 800;
    height: 70px;
    font-size: 40px;
}
button{
    background-color: green;
    color: white;
    border-radius: 30px;
    padding: 4px 10px;
}

.delete{
    background-color: red;
    margin-bottom: 10px;
    margin-left: 10px;
}